<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      nav {
        padding-top: 15px;
        padding-bottom: 8px;
        padding-left: 120px;
      }
    </style>
  </head>
  <body>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item{% if page_number == 1 %} disabled{% endif %}">
        <a class="page-link" href="{% if page_number != 1 %} index{{ page_number - 1 }}.html {% endif %}" tabindex="-1" aria-disabled="true">Назад</a></li> 
        {% for page_num in pages_numbers %}
          <li class="page-item{% if  page_num == page_number  %} active{% endif %}"><a class="page-link" href="index{{ page_num }}.html">{{ page_num }}</a></li>
        {% endfor %} 
        <li class="page-item {% if pages_numbers | last == page_number %} disabled{% endif %}"><a class="page-link" href="{% if pages_numbers | last != page_number %} index{{ page_number + 1 }}.html {% endif %}">Вперёд</a></li>
      </ul>
    </nav>
    <div class="container">
      {% for chunk in books_on_page %}
        <div class="row">
          {% for book in chunk %}
            <div class="col">      
              <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ book['image_url'] }}" class="card-img" alt="Обложка">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ book['title'] }}</h5>
                <p class="card-text">{{ book['author'] }}</p>
                {% for genre in book['genres'] %}
                  <span class="badge badge-pill badge-light">{{ genre }}</span>
                {% endfor %}
                <p class="card-text"><small class="text-muted"></small></p>
                <a href="{{ book['txt_url'] }}" target="_blank" rel="noopener noreferrer">Читать</a>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
              </div>
              </div>
            </div>
          {% endfor %}
        </div>  
      {% endfor %}
    </div>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>